@font-face {
    font-family: pri-f;
    src: url(fonts/IPix.ttf);
}
@font-face {
    font-family: pri-f-s;
    src: url(fonts/Silver.ttf);
}
@font-face {
    font-family: pri-f-mc;
    src: url(fonts/Minecraft-1.ttf);
}
@font-face {
    font-family: pri-f-bc;
    src: url(fonts/SourceHanSansCN-Heavy.otf);
}
@font-face {
    font-family: pri-f-n;
    src: url(fonts/OPPOSans-M.ttf);
}
@font-face {
    font-family: pri-f-a;
    src: url(fonts/Unifont13.0.01.ttf);
}
@font-face {
    font-family: pri-he;
    src: url(fonts/OPPOSans-H.ttf);
}
.all{
    font-family: 'pri-f-a';
}
#mc{
    font-size: 64px;
}
#mc #st{
    font-size: 80px;
}
.bottom{
    position: absolute; bottom: 0; left: 0; right: 0; background-color: #bf0000; color: white; font-size: 12px; text-align: center;
}
a{
    color: white; text-decoration: none;
}
.main{
    position: absolute; left: 15%; right: 25%; top: 6.5%; bottom: 40%; background-color: #bf0000; text-align: center; background-position: top; background-repeat: space;
}
.main p{
    color: #ffffff; font-size: 48px; text-align: left;
}
.icon{
    position: fixed; left: 2.5%; right: 97.5%; top: 5; height: 40px; width: 160px;
}
.titlebar{
    position: fixed; left: 15%; right: 0; top: 0; bottom: auto; background-color: #bf0000; color: white; font-size: 16px; text-align: left;
}
.list{
    list-style-type: none;
}
.list li{
    display:inline; padding:50px;
}